<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Welcome to the Srobh homepage</h1>
    <p>This is the home page content.</p>
    <a href="about.ejs">about</a>
    <a href="contact.ejs">contact</a>
  </body>
</html>
